{% extends 'base.html' %}

{% block content %}
<div class="col-6">
  <form action='{{  url_for("user.process_registration")  }}' method='POST'>
    <div class="modal-body">
      {{ form.hidden_tag() }}
      <div class="form-group">
        {{ regform.number.label }}
        {{ regform.number(size=10) }}
        <small id="telefone_numHelpBlock" class="form-text text-muted">
          Номер должен состоять из 10 цифр, вводить без 8.
        </small>
      </div>
      <div class="form-group">
        {{ regform.mail.label }}
        {{ regform.mail() }}
        
      </div>
      <div class="form-group">
        {{ regform.name.label }}
        {{ regform.name() }}
        
      </div>
      <div class="form-group">          
        {{ regform.password.label }}
        {{ regform.password() }}
        <small id="passwordHelpBlock" class="form-text text-muted">
          Ваш пароль должен состоять из 8-32 букв и цифр, не должно быть пробелов, специальных символов и смайлов.
        </small>
      </div>
      <div class="form-group">         
        {{ regform.password2.label }}
        {{ regform.password2() }}
        
      </div>
    </div>
    <div class="modal-footer">
      <div class="form-group">
        {{ regform.submit() }}
      </div>
    </div>
  </form>
</div>
<script>
  let tel_select = document.getElementById('number');
  let mail_select = document.getElementById('mail');

  tel_select.onkeypress= function(event) {
    event = event || window.event;
    if (event.charCode && (event.charCode <12 || event.charCode > 57))
    return false;
  }
  
</script>
{% endblock content %}