
<div class='row'  style=" height:150px">
    <div class="col-3" style="padding: 10px;"><i>Cайт создан<br>в учебных целях</i></div>
    <div class="col-7" style="padding: 10px;">
        <a href="https://github.com/frederr45" class="text-muted" style=" text-decoration: none">GitHub</a>
    </div>
    <div class="col-2">
      {% if current_user.is_authenticated %}
            <button type="button" class="btn btn-link,text-muted" data-toggle="modal" data-target="#LogoutModal" style="margin-left: 80px">Выход</button>
        {% endif %}
        {% if not current_user.is_authenticated %}
            <button type="button" class="btn btn-link btn-sm text-muted" style=" text-decoration:none;" data-toggle="modal" data-target="#LoginModal">Вход</button>
            <a href= "/registration"><button type="button" class="btn btn-link btn-sm text-muted" style=" text-decoration:none;">Регистрация</button></a>
        {% endif %}  
    </div>
</div>
