{% extends 'base.html' %}

{% block content %}
<div class="col-2">
    <form action='{{ url_for("market.find") }}' method='POST'> 
        <div class="modal-body">

            <div class="form-group">
                {{ fform.price_1.label }}
                {{ fform.price_1() }}
            </div>
            <div class="form-group">
                {{ fform.price_2.label }}
                {{ fform.price_2() }}
            </div>
        </div>
        
        <div class="modal-footer">
            <div class="form-group">
            {{ fform.submit() }}
            </div>
        </div>
    </form>  
</div>


<div class="col-10">
    На сайте {{ full_auto_list|length }} активных объявления.<br/>

{% for brand in brands %}
{% if count[brand.name] == 0 %}

        {{ brand.name }}
   
   <span class="badge" style="color: rgb(165, 165, 165)"><i>( {{ count[brand.name] }}   )</i></span> 
{% else %}
    <a href="{{ url_for('market.filter_brand', brand=brand.id ) }}">
         {{ brand.name }}
    </a>
    <span class="badge" style="color: rgb(165, 165, 165)"><i>( {{ count[brand.name] }}   )</i></span>  
{% endif %}
{% endfor %}
{% if auto_list != [] %}
{% for auto in auto_list %}  
    {% if auto.active !=False %}
        <div class="row" >
            <div class="media" style="margin-bottom:15px; margin-top: 10px">
                <div class="col" style="min-width: 300px; ">
                    <a href="{{ url_for('market.auto_account', id=auto.id) }}">
                        <img class="rounded" style="width: 70%;" src='{{ url_for("img.send_picture", filename=auto.images[0].url_picture) }}'  alt="{{ auto.name }}"></a>
                    </a>
                </div>
                <div class="col-9">
                    <div class="row">
                        <div class="col-6" style="min-width:300px">
                            <div class="media-body">
                                <a href="{{ url_for('market.auto_account', id=auto.id) }}"><h5 class="mt-0">{{ auto.name }}</h5></a>
                            </div>
                        </div>
                        <div class="col-4">
                            <span class="badge badge-pill badge-light">
                                <h5>Цена: {{ auto.price }} </h5>
                                
                            </span><br/>
                            <div class="btn-group dropleft" >
                                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Подробнее
                                </button>
                                <div class="dropdown-menu" style="width: 400px; padding: 10px">
                                    {% if auto.description != None %}
                                        {{ auto.description[:100] }}...
                                        <a href="{{ url_for('market.auto_account', id=auto.id) }}">Смотреть</a>
                                    {% else %}
                                        <a href="{{ url_for('market.auto_account', id=auto.id) }}">Смотреть</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}   
{% endfor %}
{% else %}
<h4>Ничего не найдено ..:(</h4>
{% endif %}
</div>


  
{% endblock content %} 